<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div>
    <div th:replace="~{component/header :: header}"></div>
    <div th:replace="~{component/nav :: nav}"></div>
    <table class="table table-hover text-center">
        <tr>
            <th>아이디</th>
            <th>이메일</th>
            <th>이름</th>
            <th>생일</th>
            <th>전화번호</th>
        </tr>
        <tr>
            <td type="text" th:text="${member.id}"></td>
            <td type="text" th:text="${member.memberEmail}"></td>
            <td type="text" th:text="${member.memberName}"></td>
            <td type="text" th:text="${member.memberBirth}"></td>
            <td type="text" th:text="${member.memberMobile}"></td>
        </tr>
    </table>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
<script>
</script>
</html>