<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>
<div th:replace="~{component/header :: header}"></div>
<div>
    <h2>회원가입 페이지</h2>
    <div>
        <table>
            <form action="save" method="post">
                계정 : <input name="memberEmail" type="text" placeholder="계정" onblur="email_check()"><br>
                비밀번호 : <input name="memberPassword" type="text" placeholder="비밀번호"><br>
                이름 : <input name="memberName" type="text" placeholder="이름"><br>
                생년월일 : <input name="memberBirth" type="date" placeholder="생년월일"><br>
                전화번호 : <input name="memberMobile" type="text" placeholder="전화번호"><br>
                <button type="submit">회원가입</button>
            </form>
        </table>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const email_check = () => {
        const email = document.querySelector('[name="memberEmail"]').value;
        axios({
            method: "post", // http request method(get, post, put, delete....)
            url: "/member/dup-check",
            data: {
                memberEmail : email
            }
        }).then( res => {
            // 요청 성공 후 서버에서 200 응답
            console.log("res", res);
        }).catch( err => {
            // 요청 실패 또는 서버에서 4xx, 5xx 응답
            console.log("err", err);
        });
    }
</script>
</html>